In [12]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import time
import os
import gc

In [13]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from skimage.io import imread
import matplotlib.pyplot as plt
from skimage.segmentation import mark_boundaries
from skimage.util import montage2d as montage
montage_rgb = lambda x: np.stack([montage(x[:, :, :, i]) for i in range(x.shape[3])], -1)
ship_dir = ''
train_image_dir = os.path.join(ship_dir, 'train')
test_image_dir = os.path.join(ship_dir, 'test')
import gc; gc.enable() # memory is tight

from skimage.morphology import label
def multi_rle_encode(img):
    labels = label(img[:, :, 0])
    return [rle_encode(labels==k) for k in np.unique(labels[labels>0])]

# ref: https://www.kaggle.com/paulorzp/run-length-encode-and-decode
def rle_encode(img):
    '''
    img: numpy array, 1 - mask, 0 - background
    Returns run length as string formated
    '''
    pixels = img.T.flatten()
    pixels = np.concatenate([[0], pixels, [0]])
    runs = np.where(pixels[1:] != pixels[:-1])[0] + 1
    runs[1::2] -= runs[::2]
    return ' '.join(str(x) for x in runs)

def rle_decode(mask_rle, shape=(768, 768)):
    '''
    mask_rle: run-length as string formated (start length)
    shape: (height,width) of array to return 
    Returns numpy array, 1 - mask, 0 - background
    '''
    s = mask_rle.split()
    starts, lengths = [np.asarray(x, dtype=int) for x in (s[0:][::2], s[1:][::2])]
    starts -= 1
    ends = starts + lengths
    img = np.zeros(shape[0]*shape[1], dtype=np.uint8)
    for lo, hi in zip(starts, ends):
        img[lo:hi] = 1
    return img.reshape(shape).T  # Needed to align to RLE direction

def masks_as_image(in_mask_list):
    # Take the individual ship masks and create a single mask array for all ships
    all_masks = np.zeros((768, 768), dtype = np.int16)
    #if isinstance(in_mask_list, list):
    for mask in in_mask_list:
        if isinstance(mask, str):
            all_masks += rle_decode(mask)
    return np.expand_dims(all_masks, -1)

## First, have ship -> 1 and have no ship -> 0

In [14]:
train = pd.read_csv('../input/train_ship_segmentations_v2.csv')

In [15]:
train.head()

         ImageId                                      EncodedPixels
0  00003e153.jpg                                                NaN
1  0001124c7.jpg                                                NaN
2  000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...
3  000194a2d.jpg  360486 1 361252 4 362019 5 362785 8 363552 10 ...
4  000194a2d.jpg  51834 9 52602 9 53370 9 54138 9 54906 9 55674 ...

In [16]:
train['exist_ship'] = train['EncodedPixels'].fillna(0)
train.loc[train['exist_ship']!=0, 'exist_ship']=1
del train['EncodedPixels']

In [17]:
train

              ImageId exist_ship
0       00003e153.jpg          0
1       0001124c7.jpg          0
2       000155de5.jpg          1
3       000194a2d.jpg          1
4       000194a2d.jpg          1
5       000194a2d.jpg          1
6       000194a2d.jpg          1
7       000194a2d.jpg          1
8       0001b1832.jpg          0
9       00021ddc3.jpg          1
10      00021ddc3.jpg          1
11      00021ddc3.jpg          1
12      00021ddc3.jpg          1
13      00021ddc3.jpg          1
14      00021ddc3.jpg          1
15      00021ddc3.jpg          1
16      00021ddc3.jpg          1
17      00021ddc3.jpg          1
18      0002756f7.jpg          1
19      0002756f7.jpg          1
20      0002d0f32.jpg          0
21      000303d4d.jpg          0
22      00031f145.jpg          1
23      00052ed46.jpg          0
24      000532683.jpg          1
25      000532683.jpg          1
26      00053c6ba.jpg          1
27      00057a50d.jpg          0
28      000592296.jpg          0
29      0005d01c8.jpg          1
...               ...        ...
231693  fff8ced35.jpg          0
231694  fff909871.jpg          1
231695  fff9395dc.jpg          0
231696  fff998ae9.jpg          0
231697  fff9aa012.jpg          0
231698  fffa15273.jpg          0
231699  fffa44607.jpg          0
231700  fffa5960e.jpg          0
231701  fffa80c97.jpg          0
231702  fffa926c8.jpg          0
231703  fffb2924f.jpg          0
231704  fffb36a47.jpg          0
231705  fffbb804d.jpg          0
231706  fffc0ade1.jpg          0
231707  fffc12f8c.jpg          0
231708  fffc6b811.jpg          0
231709  fffcb6464.jpg          1
231710  fffcd0cf7.jpg          0
231711  fffcda6d6.jpg          0
231712  fffd924fb.jpg          1
231713  fffd924fb.jpg          1
231714  fffdd2377.jpg          1
231715  fffe4c385.jpg          0
231716  fffe4fa23.jpg          0
231717  fffe646cf.jpg          0
231718  fffedbb6b.jpg          0
231719  ffff2aa57.jpg          0
231720  ffff6e525.jpg          0
231721  ffffc50b4.jpg          0
231722  ffffe97f3.jpg          0

[231723 rows x 2 columns]

### There are duplicate images in the training data. Groupby duplicate images

In [ ]:
print(len(train['ImageId']))
print(train['ImageId'].value_counts().shape[0])
train_gp = train.groupby('ImageId').sum().reset_index()
train_gp.loc[train_gp['exist_ship']>0,'exist_ship']=1

231723
192556

### Balance the have ship and no ship data by removing 100000 data of no ship

In [ ]:
print(train_gp['exist_ship'].value_counts())
train_gp= train_gp.sort_values(by='exist_ship')
train_gp = train_gp.drop(train_gp.index[0:100000])

0    150000
1     42556
Name: exist_ship, dtype: int64

### Set the training set count (to prevent large data causing too much time to compute)

In [ ]:
print(train_gp['exist_ship'].value_counts())
train_sample = train_gp.sample(5000)
print(train_sample['exist_ship'].value_counts())
print (train_sample.shape)

0    50000
1    42556
Name: exist_ship, dtype: int64
0    2710
1    2290
Name: exist_ship, dtype: int64
(5000, 2)

In [ ]:
Train_path = '../input/train_v2/'
Test_path = '../input/test_v2/'

In [ ]:
training_img_data = []
target_data = []
from PIL import Image
data = np.empty((len(train_sample['ImageId']),256, 256,3), dtype=np.uint8)
data_target = np.empty((len(train_sample['ImageId'])), dtype=np.uint8)
image_name_list = os.listdir(Train_path)
index = 0
for image_name in image_name_list:
    if image_name in list(train_sample['ImageId']):
        imageA = Image.open(Train_path+image_name).resize((256,256)).convert('RGB')
        data[index]=imageA
        data_target[index]=train_sample[train_gp['ImageId'].str.contains(image_name)]['exist_ship'].iloc[0]
        index+=1
        
print(data.shape)
print(data_target.shape)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

### Doing one hot on target - for classification problem

In [ ]:
from sklearn.preprocessing import OneHotEncoder
targets =data_target.reshape(len(data_target),-1)
enc = OneHotEncoder()
enc.fit(targets)
targets = enc.transform(targets).toarray()
print(targets.shape)